<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<add key="CsvPath" value="C:\SensorData\dataset.csv" />
		<add key="LogPath" value="C:\SensorData\invalid_rows.log" />
	</appSettings>

	<system.serviceModel>
		<client>
			<endpoint name="SensorEndpoint"
					  address="net.tcp://localhost:9000/SensorService"
					  binding="netTcpBinding"
					  bindingConfiguration="SensorTcpBinding"
					  contract="Common.ISensorService" />
		</client>

		<bindings>
			<netTcpBinding>
				<binding name="SensorTcpBinding"
						 maxReceivedMessageSize="10485760"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:10:00" />
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	
</configuration>